<div id="contact" class="mx-auto max-w-7xl">
    <div class="flex flex-col lg:flex-row">
      <div
        class="relative w-full bg-cover lg:w-6/12 xl:w-7/12 bg-gradient-to-r from-white via-white to-gray-100"
      >
        <div
          class="relative flex flex-col items-center justify-center w-full h-full px-10 my-20 lg:px-16 lg:my-0 Contact"
        >
          <div
            class="flex flex-col items-start space-y-8 tracking-tight lg:max-w-3xl"
          >
            <div class="relative">
              <p class="mb-2 font-medium text-gray-700 uppercase">
                Adresse:
              </p>
              <h2 class="text-5xl text-gray-900 xl:text-6xl">
                Entrer l'adresse ici.
              </h2>
            </div>
            <p class="text-2xl text-gray-700">
              Heurs de travail : 24H/24H et 7J/7J.<br /><br />Tel: 0558 38
              40 92<br />Email: santech-com@outlook.com
            </p>
          </div>
        </div>
      </div>
      <div class="w-full bg-white lg:w-6/12 xl:w-5/12">
        <div
          class="flex flex-col items-start justify-start w-full h-full p-10 lg:p-16 xl:p-24"
        >
          <section class="bg-white dark:bg-gray-900">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
              <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
              >
                Contactez nous
              </h2>
              <p
                class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
              >
                Vous avez des questions ou des suggestions à propos de nos
                services et produits? N'hésitez pas à remplir le formulaire
                ci-dessous pour nous contactez.
              </p>
              <form
                action="https://formspree.io/f/xaykkodv"
                method="post"
                name="mymailform"
                class="space-y-8"
              >
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Votre email</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                    placeholder="nom@mail.com"
                    required
                  />
                </div>
                <div>
                  <label
                    for="name"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Nome et prenom</label
                  >
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                    placeholder=" votre nom et prenom"
                    required
                  />
                </div>
                <div class="sm:col-span-2">
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                    >Votre message</label
                  >
                  <textarea
                    id="msg"
                    name="msg"
                    rows="6"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="ecrire votre message..."
                  ></textarea>
                </div>
                <button
                  type="submit"
                  class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-indigo-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-indgo-700 dark:focus:ring-primary-800"
                >
                  Envoyer
                </button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
