<div
        class="w-full px-3 antialiased bg-gray-800 lg:px-6 xl:w-full xl:px-3 xl:bg-gray-800 xl:border-0 xl:shadow-2xl"
        id="accueil"
        data-primary="indigo-600"
        data-tails-scripts="//unpkg.com/alpinejs"
      >
        <div class="mx-auto max-w-7xl">
          <div class="container py-32 mx-auto text-center sm:px-4 xl:inline">
            <h1
              class="text-4xl font-extrabold leading-10 tracking-tight text-white sm:text-5xl sm:leading-none md:text-6xl xl:text-7xl"
            >
              <span class="block">Mettons la technologie</span>
              <span class="relative inline-block mt-3 text-white"
                >au service de la santé</span
              >
            </h1>
            <div
              class="max-w-lg mx-auto mt-6 text-sm text-center text-indigo-200 md:mt-12 sm:text-base md:max-w-xl md:text-lg xl:text-xl"
              data-primary="indigo-200"
            >
              bénéficier des services que notre application Safe Digital Health en cliquant
              sur télécharger.
            </div>
            <div
              data-rounded="rounded-full"
              class="relative flex items-center max-w-md mx-auto mt-12 overflow-hidden text-center rounded-full xl:overflow-hidden xl:left-20"
            >
              <span class="relative top-0 right-0 block">
                <a
                  href="#_"
                  type="button"
                  class="inline-flex items-center justify-center w-full px-8 py-4 text-base font-bold leading-6 bg-white border border-transparent rounded-full md:w-auto hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 xl:inline-flex"
                >
                  Télécharger de Google Play
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
