<section
        id="faq"
        class="relative py-16 bg-white min-w-screen animation-fade animation-delay tails-selected-element"
      >
        <div class="container px-0 px-8 mx-auto sm:px-12 xl:px-5">
          <p
            class="text-xs font-bold text-left text-pink-500 uppercase sm:mx-6 sm:text-center sm:text-normal sm:font-bold"
            data-primary="pink-500"
          >
            VOUS AVEZ DES QUESTIONS? NOUS AVONS LES REPONSES.
          </p>
          <h3
            class="mt-1 text-2xl font-bold text-left text-gray-800 sm:mx-6 sm:text-3xl md:text-4xl lg:text-5xl sm:text-center sm:mx-0"
          >
            FAQ
          </h3>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Quels sont les coûts de système?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              l'application mobile et l'utilisation du système sont complètement
              gratuites, les seuls coûts sont liés au achats de smartwatch/
              bracelet intelligent.Il n'y a pas de coutes d'installation.
            </p>
          </div>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Comment utiliser le système?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              Tout ce que vous aurez besoin de faire est de télécharger
              l'application mobile sur votre smartphone et créer un compte.
            </p>
          </div>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Quel est le territoire géographique de votre système?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              Si vous voulez utiliser notre système pour surveiller votre santé
              personnellement, l'application peut être utilisé partout (si vous
              voulez obtenir le smartwatch/bracelet intelligent il y aura des
              coûts de livraison), mais pour utiliser le service d'urgence liée
              au cliniques partenaires, le service sera valable dans les Wilayas
              suivantes (cette liste sera mise a jour a chaque fois qu'on ce
              partenaire avec des cliniques dans d'autres Wilayas):<br />Constantine.
            </p>
          </div>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Dois-je acheter une smartwatch/bracelet intelligent pour utiliser
              votre système?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              non, vous pouvez utiliser votre propre smartwatch si vous l'avez,
              sinon vous pouvez utiliser le système sans smartwatch, mais cela
              n'est pas recommandé car vous devez suivre votre état manuellement
              et vous perdez des utilités importantes du système.
            </p>
          </div>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Comment fonctionne le service d'urgence?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              Quand le système trouve des résultats anormaux qui nécessitent
              l'intervention lors d'un scan, il envoie une alerte aux cliniques
              partenaires, le système choisit la clinique la plus proche de
              l'utilisateur (sauf si l'utilisateur a précisé une clinique de son
              choix) et la clinique envoie une ambulance.
            </p>
          </div>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Comment le système réagit-il à une urgence à l'extérieur de la
              maison?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              le système envoie la location actuelle de malade au cliniques,
              cela veut dire que tant qu'il y a une connexion internet et le GPS
              est activé, la location de malade sera toujours connue lors d'une
              urgence.
            </p>
          </div>
          <div
            class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3"
            data-rounded="rounded-lg"
            data-rounded-max="rounded-full"
          >
            <h3
              class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"
              data-primary="purple-500"
            >
              Puis-je supprimer mon compte?
            </h3>
            <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
              Oui, à tout moment ou vous voulez cesser d'utiliser notre système
              vous pouvez simplement supprimer votre compte.
            </p>
          </div>
        </div>
      </section>
