<section id="produit" class="px-2 py-32 bg-white md:px-0 tails-relative">
    <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
      <div class="flex flex-wrap items-center sm:-mx-3">
        <div class="w-full md:w-1/2 md:px-3">
          <div
            class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0"
          >
            <h2
              class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl"
            >
              <span class="block xl:inline">Suivi tas santé en temps</span>
              <span
                class="block text-indigo-600 xl:inline"
                data-primary="indigo-600"
                >réel et en toute sécurité!</span
              >
            </h2>
            <p
              class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl"
            >
              Safe Digital Health est une application qui suit les signaux vitaux de
              l'utilisateur à travers une smartwatch ou un bracelet, crée un
              historique pour traquer les données récupérées, ainsi
              qu'envoyer un signale d'urgence à une des cliniques abonné
              avec nous pour faciliter l'intervention dans les cas
              critiques.<br /><br />L'application peut facilement se
              connecter avec n'importe quel modèle de smartwatches que les
              utilisateurs, mais nous fournissons des smartwatches a ceux
              qui l'ont pas au même prix du marché.<br />voici quelques
              avantages offerts par Safe Digital Health:<br /><b>surveillance 24h/7j</b
              ><br />Notre système et équipement faire des scans
              automatiques et régulier de l'utilisateur, si le système
              détecte des résultats anormaux, le système augmente le nombre
              de scans, ces résultats sont diffusés au cliniques partenaires
              qui reçoit de leurs par des alerts lors d'un etat critique ce
              qui l'offre du temps pour intervenir.<br />
              <b>equipe technique jaune et motiver</b><br />Notre équipe de
              développement est dédiée et motivée pour offrir le système le
              plus précis, sécurisé et facile à utiliser possible, qui est
              bien maintenu, ainsi qu'améliorer le système au fur et à
              mesure pour offrir plus de fonctionnalités pour le confort de
              nos utilisateurs.<br />
              <b
                >confidentialite de vos informations personnelles et
                médicales</b
              ><br />Vos informations sont gardées en toute sécurité sur
              notre système, seuls les cliniques partenaires de vos choix
              auront accès aux données et seulement lors d'une alerte.<br />
              <b>engagement avec nos clients</b><br />Nous sommes dédiés à
              répondre aux besoins de nos utilisateurs et régler les
              problèmes et les plaintes de façon efficace.
            </p>
            <div class="relative flex flex-col sm:flex-row sm:space-x-4">
              <a
                href="product.html#produit"
                class="flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-indigo-600 rounded-md sm:mb-0 hover:bg-indigo-700 sm:w-auto"
                data-primary="indigo-600"
                data-rounded="rounded-md"
              >
                Plus informations
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 ml-1"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <line x1="5" y1="12" x2="19" y2="12" class=""></line>
                  <polyline points="12 5 19 12 12 19" class=""></polyline>
                </svg>
              </a>
            </div>
            <p
              class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl"
            >
              Vous avez des questions? visistez
              <a href="#faq">la section FAQ</a> ou
              <a href="#contact">contactez nous</a>
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div
            class="w-full h-auto overflow-hidden rounded-md shadow-xl sm:rounded-xl"
            data-rounded="rounded-xl"
            data-rounded-max="rounded-full"
          >
            <img
              class="mx-auto sm:max-w-sm lg:max-w-full"
              src="/assets/images/pic1.png"
              alt="feature image"
            />
          </div>
          <div
            class="w-full h-auto overflow-hidden rounded-md shadow-xl sm:rounded-xl"
            data-rounded="rounded-xl"
            data-rounded-max="rounded-full"
          >
            <img
              class="mx-auto sm:max-w-sm lg:max-w-full"
              src="/assets/images/watches.png"
              alt="feature image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
